<div class="container mt-4">
  <h3>Statistiques du Test - {{ statistics?.testName }}</h3>

  <p><strong>Score moyen:</strong> {{ statistics?.averageScore | number:'1.2-2' }}</p>
  <p><strong>Participants:</strong> {{ statistics?.totalParticipants }}</p>
  <p><strong>Taux de réussite:</strong> {{ statistics?.passRate | number:'1.0-0' }}%</p>

  <h4>Questions les plus difficiles :</h4>
  <ul>
    <li *ngFor="let question of statistics?.difficultQuestions">
      {{ question.questionText }} - Taux de réponse correcte: {{ question.correctAnswerRate | number:'1.0-0' }}%
    </li>
  </ul>
</div>
