<div class="stickybar">
    <div class="settings-widget dash-profile">
        <div class="settings-menu">
            <div class="profile-bg">
              <div class="profile-img">
                <a [routerLink]="routes.studentProfile">
                    <img [src]="userProfile.image" alt="User Image"  class="avatar-img rounded-circle" >
                </a>
            </div>


                <div class="profile-group">
                    <div class="profile-name text-center">

                        <h2><a [routerLink]="routes.instructorProfile">{{userProfile.name }}</a></h2>
                        <p>{{ userProfile.role }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="settings-widget account-settings">
        <div class="settings-menu">
            <h3>Tableau de bord</h3>
            <ul>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]= "routes.instructor_dashboard" class="nav-link">
                        <i class="bx bxs-tachometer"></i>Tableau de bord
                       </a>

                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="routes.instructorProfile" class="nav-link">
                        <i class="bx bxs-user"></i>Mon Profile
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="routes.instructorformations" class="nav-link">
                        <i class="bx bxs-user"></i>Evaluation
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="routes.instructorEnrolledCourse" class="nav-link">
                        <i class="bx bxs-graduation"></i>Formation
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="routes.instructorEvent" class="nav-link">
                        <i class="bx bxs-heart"></i>Evenements
                    </a>
                </li>


                <li class="nav-item" routerLinkActive="active">
                  <a [routerLink]="routes.TestLevel" class="nav-link">
                      <i class="bx bxs-star"></i>Test de niveau
                  </a>
              </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="routes.Candidature" class="nav-link">
                        <i class="bx bxs-shapes"></i>Recruitment
                    </a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="routes.list_sujet" class="nav-link">
                        <i class="bx bxs-bookmark-alt"></i>Sujet PFE
                    </a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="routes.instructor_chat" class="nav-link">
                        <i class="bx bxs-chat"></i>Forum
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="routes.instructor_notification" class="nav-link">
                        <i class="bx bxs-bell"></i>Notifications
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="routes.instructor_reclamation" class="nav-link">
                        <i class="bx bxs-coupon"></i>Reclamation
                    </a>
                </li>
            </ul>


            <ul>

                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="routes.home" class="nav-link">
                        <i class="bx bxs-log-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </div>
