// .post-info p {
//     color: #df5f5e !important;
//     font-size: 14px !important;
//     margin: 0 !important;
//     font-weight: 500 !important;
// }
// .free-color p {
//     color: #159F46 !important;
// }

.list-course .product-img {
    flex: 0 0 50px !important;
}
.col-lg-9 {
margin-left: 10% !important;}

.list-course .product-content {
    margin-left: 5%;
    margin-right: 5%;
}

.modal-btn{
    background-color: #392c7d;
    border: 0cm;
}

.product-content.row{
    display: contents;
}

.item-btns{
    flex-direction: column;
}

.all-category .btn-primary{
    min-width: 115px;
    margin-bottom: 10px;
}