<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-9">
        <div class="settings-widget card-details">
          <div class="settings-menu p-4">
            <div class="profile-heading text-center">
              <h3>Test : {{ test?.title }}</h3>
              <p><strong>Durée :</strong> {{ test?.duration }} minutes | <strong>Score total :</strong> {{ test?.score }}</p>
              <p><strong>Temps restant :</strong>
                <span [ngClass]="{'text-danger': timeLeft <= 30}">
                  {{ (timeLeft / 60) | number:'2.0-0' }}:{{ (timeLeft % 60) | number:'2.0-0' }}
                </span>
              </p>


            </div>

            <div *ngFor="let question of test?.questions">
              <h4>{{ question.questionText }}</h4>
              <div *ngFor="let option of ['optionA', 'optionB', 'optionC', 'optionD']">
                <input type="radio" [name]="'question' + question.id" [value]="question[option]"
                       [(ngModel)]="answers[question.id]"> {{ question[option] }}
              </div>
            </div>

            <button class="btn btn-success mt-3" (click)="submitTest()" [disabled]="hasSubmitted">
              Soumettre
            </button>

            <div *ngIf="score !== null">
              <h4>Votre Score : {{ score }} / {{ test?.score }}</h4>
            </div>
