<!-- Page Content -->
<div class="page-content">
  <div class="container">
    <div class="row">

      <!-- Sidebar -->
      <app-instructor-sidebar class="col-xl-3 col-lg-3 theiaStickySidebar"></app-instructor-sidebar>
      <!-- /Sidebar -->

      <!-- Admin Notifications -->
      <div class="col-xl-9 col-lg-9">

        <div class="settings-widget card-details mb-0">
          <div class="settings-menu p-0">
            <div class="profile-heading">
              <h3>📢 Notifications</h3>
            </div>
            <div class="checkout-form personal-address">
              <div class="row">
                <div class="col-sm-12">
                  <div class="d-flex instructor-noti-head align-items-center">
                    <div class="icon-form mb-0">
                      <span class="form-icon"><i class="bx bx-calendar-edit"></i></span>
                      <input type="text" class="form-control date-range bookingrange" bsDaterangepicker [(ngModel)]="bsRangeValue" />
                    </div>
                    <div class="noti-mark-btns">
                      <ul>
                        <li><a href="javascript:void(0);" class="btn" (click)="markAllAsRead()"><i class="feather icon-check me-2"></i> Tout marquer comme lu</a></li>
                        <li><a href="javascript:void(0);" class="btn btn-delete" (click)="deleteAll()"><i class="feather icon-trash-2 me-2"></i> Tout supprimer</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="notication-list">
                    <div class="notication-item" *ngFor="let notif of notifications">
                      <div class="row">
                        <div class="col-md-9">
                          <div class="notication-content">
                            <span>
                              <img src="assets/img/user/user1.jpg" class="img-fluid rounded-circle" alt="user">
                            </span>
                            <div class="notication-info">
                              <p><span>{{ notif.user?.email }}</span> a une réclamation passée à <b>{{ notif.status }}</b> pour <i>{{ notif.title }}</i></p>
                              <p class="notify-time">{{ notif.creationDate | date:'short' }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="notification-btn text-end">
                            <button class="btn btn-danger btn-sm" (click)="deleteNotification(notif.id)">Supprimer</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /Admin Notifications -->

    </div>
  </div>
</div>
<!-- /Page Content -->
