<div class="main-wrapper log-wrap">
  <div class="row">

    <!-- Login Banner -->
    <div class="col-md-6 login-bg">
      <div class="row w-100">
        <div class="col-md-12">
          <owl-carousel-o [options]="registerOwlOptions">
            <ng-container *ngFor="let slide of register">
              <ng-template carouselSlide>
                <div class="welcome-login">
                  <div class="login-banner">
                    <img [src]="slide.img" class="img-fluid" alt="Logo" />
                  </div>
                  <div class="mentor-course text-center">
                    <p class="welcome-text">Welcome to Coding Factory</p>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
    <!-- /Login Banner -->

    <div class="col-md-6 login-wrap-bg">
      <div class="login-wrapper">
        <div class="loginbox">
          <div class="img-logo">
            <img src="assets/img/logo.png" class="img-fluid" alt="Logo" />
            <div class="back-home">
              <a [routerLink]="routes.home">Back to Home</a>
            </div>
          </div>
          <h1>Sign up</h1>

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <!-- Full Name -->
            <div class="input-block">
              <label class="form-control-label">Full Name</label>
              <input type="text" class="form-control" formControlName="name" />
              <small *ngIf="registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched" class="text-danger">
                Full Name is required.
              </small>
              <small *ngIf="registerForm.get('name')?.hasError('minlength') && registerForm.get('name')?.touched" class="text-danger">
                Must be at least 2 characters.
              </small>
              <small *ngIf="registerForm.get('name')?.hasError('maxlength') && registerForm.get('name')?.touched" class="text-danger">
                Cannot exceed 50 characters.
              </small>
            </div>

            <!-- Email -->
            <div class="input-block">
              <label class="form-control-label">Email</label>
              <input type="email" class="form-control" formControlName="email" />
              <small *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched" class="text-danger">
                Email is required.
              </small>
              <small *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched" class="text-danger">
                Please enter a valid email.
              </small>
            </div>

            <!-- Password -->
            <div class="input-block">
              <label class="form-control-label">Password</label>
              <div class="pass-group">
                <input [type]="passwordType" class="form-control pass-input" formControlName="password"
                  (input)="onChangePassword(registerForm.value.password)" />
                <i class="toggle-password feather" [ngClass]="{'icon-eye': showPassword, 'icon-eye-off': !showPassword}"
                   (click)="togglePassword()"></i>
              </div>
              <small *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched" class="text-danger">
                Password is required.
              </small>
              <small *ngIf="registerForm.get('password')?.hasError('pattern') && registerForm.get('password')?.touched" class="text-danger">
                Must contain uppercase, lowercase, number, and special character.
              </small>
            </div>

            <!-- City -->
            <div class="input-block">
              <label class="form-control-label">City</label>
              <input type="text" class="form-control" formControlName="city" />
              <small *ngIf="registerForm.get('city')?.hasError('required') && registerForm.get('city')?.touched" class="text-danger">
                City is required.
              </small>
            </div>
            <div class="input-block">
              <label class="form-control-label">Profile Picture</label>
              <input type="file" class="form-control" (change)="onImageSelected($event)" accept="image/*" />
              <div *ngIf="selectedImageBase64">
                <img [src]="selectedImageBase64" alt="Preview" style="max-width: 150px; margin-top: 10px;" />
              </div>
            </div>


            <!-- Phone Number -->
            <div class="input-block">
              <label class="form-control-label">Phone Number</label>
              <input type="text" class="form-control" formControlName="numTel" />
              <small *ngIf="registerForm.get('numTel')?.hasError('pattern') && registerForm.get('numTel')?.touched" class="text-danger">
                Must be 9 to 10 digits.
              </small>
            </div>

            <!-- CIN -->
            <div class="input-block">
              <label class="form-control-label">CIN</label>
              <input type="text" class="form-control" formControlName="cin" />
              <small *ngIf="registerForm.get('cin')?.hasError('pattern') && registerForm.get('cin')?.touched" class="text-danger">
                Must be 8 digits.
              </small>
            </div>

            <div class="d-grid">
              <button class="btn btn-primary btn-start" type="submit" [disabled]="registerForm.invalid || loading">
                Create Account
              </button>
            </div>


          </form>

          <div *ngIf="errorMessage" class="alert alert-danger mt-2">
            {{ errorMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
