<div class="page-content">
  <div class="container">
    <div class="row">
      <app-student-sidebar class="col-xl-3 col-lg-3 theiaStickySidebar"></app-student-sidebar>

      <div class="card-container col-xl-9 col-lg-9">
        <h2>📋 Créer une Réclamation</h2>

        <!-- Formulaire de réclamation -->
        <form (ngSubmit)="submitReclamation()" class="form-container">
          <div class="form-group">
            <label>Type de Réclamation</label>
            <select [(ngModel)]="reclamation.type" name="type" required (change)="onTypeChange()" class="form-control">
              <option value="" disabled selected>Choisir le type</option>
              <option value="EVENT">Événement</option>
              <option value="TRAINING">Formation</option>
              <option value="SUJET_PFE">Sujet PFE</option>
            </select>
          </div>

          <div *ngIf="reclamation.type === 'EVENT'" class="form-group">
            <label>Choisir un Événement</label>
            <select [(ngModel)]="reclamation.targetId" name="targetEvent" required class="form-control">
              <option *ngFor="let e of events" [ngValue]="e.id">{{ e.title }}</option>
            </select>
          </div>

          <div *ngIf="reclamation.type === 'TRAINING'" class="form-group">
            <label>Choisir une Formation</label>
            <select [(ngModel)]="reclamation.targetId" name="targetTraining" required class="form-control">
              <option *ngFor="let t of trainings" [ngValue]="t.id">{{ t.title }}</option>
            </select>
          </div>

          <div *ngIf="reclamation.type === 'SUJET_PFE'" class="form-group">
            <label>Choisir un Sujet PFE</label>
            <select [(ngModel)]="reclamation.targetId" name="targetSujet" required class="form-control">
              <option *ngFor="let s of sujetsPFE" [ngValue]="s.id">{{ s.titre }}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Titre de la Réclamation</label>
            <input type="text" [(ngModel)]="reclamation.title" name="title" placeholder="Ex: Problème de date" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea [(ngModel)]="reclamation.description" name="description" class="form-control" rows="4" required placeholder="Décrivez votre réclamation..."></textarea>
          </div>

          <button type="submit" class="btn btn-success w-100 mt-3">Créer la réclamation</button>
        </form>

        <div *ngIf="automaticStatus">
          <p><strong>Statut automatique :</strong> {{ automaticStatus }}</p>

        </div>

      </div>
    </div>
  </div>
</div>
