<div class="page-content">
  <div class="container">
    <div class="row">
      <!-- sidebar -->
      <app-student-sidebar class="col-xl-3 col-lg-3 theiaStickySidebar"></app-student-sidebar>
      <!-- /Sidebar -->


      <div class="col-xl-9 col-lg-9">
        <div class="settings-widget card-details">
          <div class="settings-menu p-4">
            <div class="profile-heading text-center">
              <h3>Sélectionner un Test</h3>
            </div>
            <div *ngIf="isLoading">Chargement des tests...</div>
            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            
            <div class="checkout-form">
              <div class="form-group">
                <label><strong>Choisissez un test :</strong></label>
                <select class="form-select" [(ngModel)]="selectedTestId">
                  <option *ngFor="let test of tests" [value]="test.id">{{ test.title }}</option>
                </select>
              </div>
              <button class="btn btn-primary" (click)="startTest()">Commencer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

