<!-- Page Content -->
<div class="page-content">
    <div class="container">
      <div class="row">

        <!-- Sidebar -->
        <app-instructor-sidebar class="col-xl-3 col-lg-3 theiaStickySidebar"></app-instructor-sidebar>
        <!-- /Sidebar -->

        <!-- Candidature Form -->
        <div class="col-xl-9 col-lg-9">
          <div class="settings-widget card-details">
            <div class="settings-menu p-0">
              <div class="profile-heading d-flex justify-content-between align-items-center">
                <h3>Ajouter une Candidature</h3>
                <div>
                  <a routerLink="/instructor/candidature" class="btn btn-primary">Retour à la Liste</a>
                </div>
              </div>
              <div class="checkout-form">

                <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                  <div class="mb-3">
                    <label for="nom" class="form-label">Nom</label>
                    <input type="text" id="nom" class="form-control" [(ngModel)]="newCandidature.nom" name="nom" required>
                  </div>
                  <div class="mb-3">
                    <label for="prenom" class="form-label">Prénom</label>
                    <input type="text" id="prenom" class="form-control" [(ngModel)]="newCandidature.prenom" name="prenom" required>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" class="form-control" [(ngModel)]="newCandidature.email" name="email" required>
                  </div>
                  <div class="mb-3">
                    <label for="specialite" class="form-label">Spécialité</label>
                    <input type="text" id="specialite" class="form-control" [(ngModel)]="newCandidature.specialite" name="specialite" required>
                  </div>
                  <div class="mb-3">
                    <label for="nbr_exp" class="form-label">Nombre d'Expériences</label>
                    <input type="number" id="nbr_exp" class="form-control" [(ngModel)]="newCandidature.nbr_exp" name="nbr_exp" required>
                  </div>
                  <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                  </div>
                  <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
                  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
                </form>

              </div>
            </div>
          </div>
        </div>
        <!-- /Candidature Form -->

      </div>
    </div>
  </div>
  <!-- /Page Content -->
